:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}

header .container{
    margin: 0 20px;
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
}

header h1{
    color: tomato;
    font-size: 35px;
    margin-right: 20px;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

li{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

li :nth-child(1){
    margin-right: 20px;
}

li :hover{
    color: crimson;
    cursor: pointer;
    transition: .4s;
}
a{
    text-decoration: none;
    color:white;

}

/*filme principal*/
.filme-principal{
    font-size:18px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/fundo1.jpg');

    height:600px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 40vh;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes h1{
    margin:10px 20px;
    font-size: 25px;
}



















